extends layout

block content
	div.card.title-card Ladder
	div.card
		table.ladder
			tr
				th #
				th Punter
				th Winnings
			each element in json
				tr
					td !{element.Place}
					td !{element.Name}
					td.right !{element.Winnings}
