extends layout

include mixins/_loginForm
include mixins/_registerForm
include mixins/_forgot

block content
	.card.login-card
		+loginForm()
	.card.login-card
		+forgotForm()
	.card.login-card
		+registerForm()
